<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anno.ETCC">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".reports" />
        <activity android:name=".form" />
        <activity android:name=".form2" />
        <activity android:name=".admin" />
        <activity android:name=".signup" />
        <activity android:name=".profile" />
        <activity android:name=".aboutus" />
        <activity android:name=".recharge" />
        <activity android:name=".credit" />
        <activity android:name=".netbanking" />
        <activity android:name=".first" />
        <activity android:name=".adminlogin" />
        <activity android:name=".Login"></activity>
    </application>

</manifest>